<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar class="transparent">
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="https://i.pravatar.cc/150?u=marcieduke@marketoid.com" alt="" />
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      John Doe
      <p>Live free</p>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item detail>
      <ion-icon name="star" slot="start" [style.background]="'var(--ion-color-warning)'">
      </ion-icon>
      <ion-label>Starred Messages</ion-label>
    </ion-item>
    <ion-item detail lines="none">
      <ion-icon name="desktop" slot="start" [style.background]="'var(--ion-color-tertiary)'">
      </ion-icon>
      <ion-label>Linked devices</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item detail>
      <ion-icon name="star" slot="start" [style.background]="'var(--ion-color-primary)'">
      </ion-icon>
      <ion-label>Account</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-icon name="logo-whatsapp" slot="start" [style.background]="'var(--ion-color-success)'">
      </ion-icon>
      <ion-label>Chats</ion-label>
    </ion-item>
    <ion-item detail>
      <ion-icon name="scan" slot="start" [style.background]="'var(--ion-color-danger)'">
      </ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-item>
    <ion-item detail lines="none">
      <ion-icon name="swap-vertical" slot="start" [style.background]="'var(--ion-color-success)'">
      </ion-icon>
      <ion-label>Storage and Data</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item detail>
      <ion-icon name="information" slot="start" [style.background]="'var(--ion-color-primary)'">
      </ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item detail lines="none">
      <ion-icon name="heart" slot="start" [style.background]="'var(--ion-color-danger)'">
      </ion-icon>
      <ion-label>Tell a friend</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
